.wraper{
    display: flex;
    justify-content: center;
    transform: translate(0,50%);
    position: relative;
    z-index: 5;
    
    
  }
  body{
      
  }
  .login_wraper{
    width: 100%;
    height: 100vh;
  
    position: absolute;
    background: url(https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=541&q=80) 0 0/cover no-repeat;
    display: flex;
    overflow: hidden;
    
    
    
  
  
  
  }
  .login{
    width: 160px;
    height: 30px;
    display: flex;
    flex-direction: column;
    margin:    20% auto;
    
   
   
    
  
  
  
  }
  
  .userName{
    margin-bottom: 10px;
    margin-left: 5px;
    background-color: rgba(76, 145, 150, 0.863);
    border-radius: 3px;
    color: #fff;
  }
  .password{
   background-color: rgb(207, 59, 59);
   border-radius: 3px;
   margin-bottom: 10px;
   margin-left: 5px;
    
  }
  .login_play::placeholder{
      color:#fff;
     padding-left: 4px;
  }
  .password{
    color: #fff;
  }
  .sumbit{
    background-color: orangered;
    border-radius: 16px;
    color:#fff;
    margin-bottom: 10px;
    

  }
  
  .Reg{
    width: 140px;
    min-height: 16px;
  
    background-color: salmon;
    margin-left: 50%;
    transform: translate(-50%,0);
    border-radius: 40px;
   margin-bottom: 10px;
  }
  .Reg span{
    display: block;
     margin-left: 54%;
     transform: translate(-50%,0);
     color: seashell;
     
  }
  
  .login_text{
    display: flex;
    justify-content: center;
    transform: translate(0%,-50px);
    font-size: 30px;
    color: #fff;
    
  }
  
  .Email{
   background-color: darkgreen;
   border-radius: 3px;
   margin-bottom: 10px;
  }
  .login_link{
    width: 140px;
    min-height: 16px;
  
    background-color: salmon;
    margin-left: 50%;
    transform: translate(-50%,0);
    border-radius: 40px;
   margin-bottom: 10px;
   
  }
  .login_link span{
    display: flex;
    justify-content: center;
    color: #fff;
  }
  .button_sumbit{
     display: flex;
     justify-content: center;
  }
  .sumbit{
      width: 100%;
  }