.wraper_UserPage{
    background-color: rgb(202, 127, 29);
    width: 100%;
    height: 200vh;
    
}

.avatar_data{
    width: 200px;
    height: 200px;
    position: relative;
    

}
.wraper_UserPage{
    display: flex;
    justify-content: center;
    


}
.user_data{
    margin-left: 50%;
    transform: translate(-50%,0px);
  color: aliceblue;
  font-size: 20px;
}

.avatar_data{
    margin-left: 50%;
    transform: translate(-50%,0px);
}
 .data{
    display: flex;
    justify-content: center;
   
}
.img_to_data {
    width: 30px;
    height: 30px;
    
}

.user_data div{
    margin-bottom: 10px;
    white-space: nowrap;
}

.buttonGet{
    width: 60px;
    height: 30px;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgb(226, 195, 58)

}